/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$mypurple-color};
  --global-hover-color: #{$light-mypurple-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --img-bg-color: #{$white-color};
  --horizontal_rule: #{lighten($grey-color, 40%)};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$darkmode_bg-color};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$darkmode-text-color};
  --global-text-color-light: #{$darkmode-text-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$light-cyan-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --img-bg-color: #{$grey-color};
  --horizontal_rule: #{$pink-color-light};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
